.image-113-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.38rem;
  height: 52.75rem;
  object-fit: cover;
}
.heart-icon1 {
  position: absolute;
  top: 47.75rem;
  left: 13.81rem;
  border-radius: 6px;
  width: 3.31rem;
  height: 4.88rem;
  overflow: hidden;
  cursor: pointer;
}
.top-beak-icon2 {
  position: relative;
  width: 5.56rem;
  height: 0;
  display: none;
}
.span3,
.tap-now-on {
  font-family: Inter;
}
.span3 {
  font-weight: 600;
}
.from {
  font-weight: 500;
}
.tap-now-on-a-card-from {
  margin: 0;
}
.these-five-cards {
  margin: 0;
  font-weight: 500;
}
.tap-now-on-container1 {
  position: relative;
  line-height: 140%;
}
.horizontal2 {
  border-radius: 8px;
  background: radial-gradient(50% 50%at 50% 50%, #fef0d7, #d3b794);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: center;
}
.bottom-beak-icon2 {
  position: relative;
  width: 5.56rem;
  height: 0.45rem;
}
.primititvetooltip2 {
  position: absolute;
  top: 38.81rem;
  left: calc(50% - 113px);
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.pointing-finger-icon1 {
  position: absolute;
  top: 40.68rem;
  left: 14.38rem;
  width: 8.59rem;
  height: 9.97rem;
}
.div2 {
  position: relative;
  border-radius: 6px 6px 12px 12px;
  width: 100%;
  height: 52.75rem;
  overflow: hidden;
  background-image: url(/public/1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 0.88rem;
  color: #0a0a0a;
  font-family: Inter;
}
