.image113Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.child {
  position: absolute;
  top: 15.65vh;
  right: 17vw;
  width: 40.5vw;
  height: 30vh;
}

.unionIcon {
  width: 390px;
  height: 225px;
}

.addACard,
.unionIcon {
  position: relative;
}

.addACardFromClosedDeckParent,
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: none;
}

.wrapper {
  border-radius: var(--br-181xl);
  background-color: var(--color-gray-300);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
  padding: var(--padding-11xs) var(--padding-7xs);
  align-items: flex-start;
  font-size: var(--font-size-xs);
}

.addACardFromClosedDeckParent {
  position: absolute;
  top: 0;
  left: 99px;
  align-items: center;
  gap: var(--gap-5xs);
  opacity: 0.2;
}

.groupChild,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  height: 5px;
}

.groupChild {
  background-color: var(--color-darkslategray);
  width: 200px;
  mix-blend-mode: normal;
}

.groupItem {
  background-color: var(--color-springgreen);
  width: 50.13px;
}

.rectangleParent {
  align-self: stretch;
  position: relative;
  height: 5px;
}

.groupWrapper {
  align-self: stretch;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  padding: var(--padding-11xs);
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.2;
  mix-blend-mode: normal;
}

.heartIcon {
  position: relative;
  border-radius: var(--br-7xs);
  width: 53px;
  height: 78px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.2;
}

.heartParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}

.frameParent,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.frameParent {
  position: absolute;
  top: 28px;
  left: 93px;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-5xs);
}

.closedDeck,
.closedDeckIcon {
  position: relative;
  flex-shrink: 0;
}

.closedDeck {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 19px;
}

.closedDeckIcon {
  border-radius: var(--br-7xs);
  width: 53px;
  height: 78px;
  overflow: hidden;
}

.closedDeckParent {
  position: absolute;
  top: 22px;
  left: 317px;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-7xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  opacity: 0.2;
}

.unionParent {
  position: absolute;
  top: 709px;
  left: 0;
  width: 390px;
  height: 135px;
  opacity: 0;
}

.topBeakIcon {
  position: relative;
  width: 89px;
  height: 0;
  display: none;
}

.sequence {
  font-family: var(--font-inter);
}

.youHaveNowCreated1Sequenc {
  margin: 0;
}

.youHaveNowContainer {
  position: relative;
  line-height: 140%;
  display: inline-block;
  width: 63vw;
}

.horizontal {
  border-radius: var(--br-5xs);
  background: radial-gradient(50% 50%at 50% 50%, #fef0d7, #d3b794);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}

.bottomBeakIcon {
  position: absolute;
  width: 70vw;
  top: -1vh;
  right: 1.5vw;
  height: 7.17px;
}

.primititvetooltip {
  border-radius: var(--br-5xs);
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.next1,
.span2 {
  font-weight: 500;
}

.span2 {
  font-family: var(--font-inter);
}

.nextWrapper {
  border-radius: var(--br-10xs);
  background: linear-gradient(180deg, #BC7136 0%, #A13717 100%),
  linear-gradient(180deg, #FFF172 0%, #FF673F 100%);
  font-family: Roboto Condensed;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  box-shadow: 0px -2px 4px 0px #E74C22 inset;
  padding: var(--padding-11xs) var(--padding-5xs);
  justify-content: center;
}

.frameContainer,
.primititvetooltipParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.frameContainer {
  padding: var(--padding-11xs) 0;
  align-items: flex-start;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto-condensed);
}

.primititvetooltipParent {
  position: absolute;
  top: 16vh;
  left: 10vw;
  width: 70vw;
  align-items: flex-end;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}

.div {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(/public/26@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto-condensed);
}

@media screen and (max-width: 376px) {
  .child {
    position: absolute;
    top: 15.65vh;
    right: 18.35vw;
    width: 37.5vw;
    height: 30vh;
    object-fit: cover;
  }
}