.image114Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.diamondIcon {
  position: absolute;
  top: 90.5vh;
  left: 16.15vw;
  border-radius: var(--br-7xs);
  width: 13vw;
  height: 9vh;
  overflow: hidden;
  cursor: pointer;
}

.pointingFingerIcon {
  position: absolute;
  top: 78vh;
  left: 22vw;
  width: 22vw;
  height: 15vh;
}

.topBeakIcon {
  position: relative;
  width: 89px;
  height: 0;
  display: none;
}

.byPlacingA {
  font-weight: 500;
}

.createASequenceContainer {
  position: relative;
  line-height: 140%;
  display: inline-block;
  width: 60vw;
}

.horizontal {
  border-radius: var(--br-5xs);
  background: radial-gradient(50% 50%at 50% 50%, #fef0d7, #d3b794);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  width: 75vw;
}

.bottomBeakIcon {
  position: relative;
  width: 75vw;
  height: 7.17px;
  left: 5vw;
  top: -0.25vh;
}

.primititvetooltip {
  position: absolute;
  top: 27vh;
  left: 8vw;
  border-radius: var(--br-5xs);
  box-shadow: var(--alert-shadow);
  color: black;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.div {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(/public/sequence2Bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}