.image-113-icon {
  position: absolute;
  top: calc(50% - 422px);
  left: calc(50% - 195px);
  width: 24.38rem;
  height: 52.75rem;
  object-fit: cover;
}
.span {
  font-weight: 500;
  font-family: Inter;
}
.next {
  position: relative;
}
.frame-wrapper,
.next-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.next-wrapper {
  border-radius: 3px;
  background: linear-gradient(180deg, #6f5f72, #1c181f);
  box-shadow: 0-2px 4px #49454e inset, 0 2px 2px #cabfd2 inset;
  padding: 0.13rem 0.5rem;
  justify-content: center;
}
.frame-wrapper {
  padding: 0.13rem 0;
  justify-content: flex-start;
  cursor: pointer;
}
.top-beak-icon {
  position: relative;
  width: 5.56rem;
  height: 0;
  display: none;
}
.span1 {
  font-weight: 600;
}
.span1,
.your-hand {
  font-family: Inter;
}
.match-the-card {
  font-weight: 500;
}
.this-is-your-hand-match-the-c {
  margin: 0;
}
.in-your-hand {
  margin: 0;
  font-weight: 500;
}
.this-is-your-container {
  position: relative;
  line-height: 140%;
}
.horizontal {
  border-radius: 8px;
  background: radial-gradient(50% 50%at 50% 50%, #fef0d7, #d3b794);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: center;
}
.bottom-beak-icon {
  position: relative;
  width: 5.56rem;
  height: 0.45rem;
}
.frame-parent,
.primititvetooltip {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.primititvetooltip {
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
  font-size: 0.88rem;
  color: #0a0a0a;
  font-family: Inter;
}
.frame-parent {
  position: absolute;
  top: 37.38rem;
  left: calc(50% - 147px);
  align-items: flex-end;
}
.div {
  position: relative;
  border-radius: 6px 6px 12px 12px;
  width: 100%;
  height: 52.75rem;
  overflow: hidden;
  background-image: url(/public/1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  text-align: left;
  font-size: 0.75rem;
  color: #fff;
  font-family: "Roboto Condensed";
}
