.image114Icon,
.image117Icon {
  position: absolute;
  width: 100%;
  object-fit: contain;
}

.image114Icon {
  top: 0;
  left: 0;
  height: 100%;
}

.image117Icon {
  top: 0;
  width: 100%;
  height: 100%;
}

.continue {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}

.continueWrapper,
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.frameDiv {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background: linear-gradient(180deg, #388999, #184b62);
  box-shadow: 0-2px 4px #144861 inset, 0 1px 2px #a0fcff inset;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs) 36px;
  justify-content: center;
}

.frameContainer {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gray-200);
  align-items: flex-start;
  justify-content: flex-start;
}

.frameContainer,
.frameWrapper,
.inner {
  display: flex;
  flex-direction: column;
}

.frameWrapper {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-200);
  padding: var(--padding-9xs);
  align-items: flex-start;
  justify-content: center;
}

.inner {
  position: absolute;
  top: 71.55vh;
  height: 50vh;
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, #350c1b, #62373b);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 91%;
  box-sizing: border-box;
  align-items: center;
  left: 4.25vw;
  opacity: 0;
  justify-content: center;
  cursor: pointer;
}

.pointingFingerIcon {
  position: absolute;
  top: 75vh;
  left: 60vw;
  width: 22vw;
  height: 15vh;
}

.div {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(/public/26@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto-condensed);
}