.image-113-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 844px;
  object-fit: cover;
}
.heart-icon1 {
  position: absolute;
  top: 764px;
  left: 221px;
  border-radius: var(--br-7xs);
  width: 53px;
  height: 78px;
  overflow: hidden;
  cursor: pointer;
}
.top-beak-icon2 {
  position: relative;
  width: 89px;
  height: 0;
  display: none;
}
.span3,
.tap-now-on {
  font-family: var(--font-inter);
}
.span3 {
  font-weight: 600;
}
.from {
  font-weight: 500;
}
.tap-now-on-a-card-from {
  margin: 0;
}
.these-five-cards {
  margin: 0;
  font-weight: 500;
}
.tap-now-on-container1 {
  position: relative;
  line-height: 140%;
}
.horizontal2 {
  border-radius: var(--br-5xs);
  background: radial-gradient(50% 50%at 50% 50%, #fef0d7, #d3b794);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.bottom-beak-icon2 {
  position: relative;
  width: 89px;
  height: 7.17px;
}
.primititvetooltip2 {
  position: absolute;
  top: 621px;
  left: calc(50% - 113px);
  border-radius: var(--br-5xs);
  box-shadow: var(--alert-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.pointing-finger-icon1 {
  position: absolute;
  top: 650.82px;
  left: 230.05px;
  width: 137.37px;
  height: 159.56px;
}
.div2 {
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) var(--br-xs) var(--br-xs);
  width: 100%;
  height: 844px;
  overflow: hidden;
  background-image: url(/public/1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
