.image113Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.drop {
  position: relative;
}

.dropWrapper,
.inner {
  display: flex;
  justify-content: center;
}

.dropWrapper {
  border-radius: var(--br-8xs);
  background: linear-gradient(180deg, #ae4949, #761d1c);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5), 0-1px 2px #af3d3e inset,
    0 1px 2px #ff9292 inset;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  display: none;
}

.inner {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  height: 80px;
  flex-direction: column;
  padding: 0 var(--padding-3xs) var(--padding-3xs) var(--padding-7xs);
  box-sizing: border-box;
  align-items: flex-start;
  opacity: 0.2;
}

.topBeakIcon {
  position: relative;
  width: 89px;
  height: 0;
  display: none;
}

.cardsInTheseContainer {
  position: relative;
  line-height: 140%;
  display: inline-block;
  width: 70vw;
}

.horizontal {
  border-radius: var(--br-5xs);
  background: radial-gradient(50% 50%at 50% 50%, #fef0d7, #d3b794);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  width: 75vw;
}

.bottomBeakIcon {
  position: relative;
  width: 310px;
  height: 7.17px;
  top: -0.2vh;
}

.primititvetooltip {
  border-radius: var(--br-5xs);
  box-shadow: var(--alert-shadow);
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.next1,
.span {
  font-weight: 500;
}

.span {
  font-family: var(--font-inter);
}

.nextWrapper {
  border-radius: var(--br-10xs);
  background: linear-gradient(180deg, #BC7136 0%, #A13717 100%),
  linear-gradient(180deg, #FFF172 0%, #FF673F 100%);
  font-family: Roboto Condensed;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  box-shadow: 0px -2px 4px 0px #E74C22 inset;
  padding: var(--padding-11xs) var(--padding-5xs);
  justify-content: center;
}

.frameWrapper,
.primititvetooltipParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.frameWrapper {
  padding: var(--padding-11xs) 0;
  align-items: flex-start;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto-condensed);
}

.primititvetooltipParent {
  position: absolute;
  top: 5vh;
  width: 90vw;
  align-items: flex-end;
  color: black;
  text-align: center;
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}

.div {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(/public/26@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}